@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@500;700&display=swap');

:root {
    --button-color-: #4263eb;
    --background-color: #edf2ff;
    --button-hover: #364fc7 ;
    --text-color: #00082f;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* a {
    text-decoration: none;
    
}

body.dark-blue {
    --background-color: #00082f;
    --text-color: #FFFFFF;
    --button-color-: #4263eb;
    --button-hover: #364fc7 ;
}

body.pink {
    --background-color: #FFF0F6;
    --text-color: #1F000B;
    --button-color-: #D6336C;
    --button-hover: #A61E4D;
}

body.dark-pink {
    --background-color: #1F000B;
    --text-color: #FFF0F6;
    --button-color-: #D6336C;
    --button-hover: #A61E4D;
}

body {
    background-color: var(--background-color);
}

.profile h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
    color: var(--text-color);
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: var(--text-color);
    opacity: .8;
    font-weight: 400;
}

.profile {
    text-align: center;
    width: 300px;
    margin: 60px auto 0px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 3.7px;
    border: 4px var(--button-color-) solid;
}

.profile ul {
    list-style: none;
    margin: 48px 0;
}

.profile ul li a {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color-);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;

}

.profile ul li a:hover {
    background-color: var(--button-hover);
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: var(--text-color);
}

@media only screen and (max-width: 950px) {
    body {
        height: 100vh;
        width: 100vw;
    }

    .profile {
        margin-top: 60px;
        width: 300px;

    }
}